SEFAZ_URL=https://nfe.sefaz.ba.gov.br/servicos/nfce/Modulos/Geral/NFCEC_consulta_chave_acesso.aspx
NFE_ACCESS_KEY= Aqui você coloca o código da nota fiscal que deseja consultar
PAGE_TIMEOUT_SECONDS=20
MAX_CAPTCHA_ATTEMPTS=5
HEADLESS=false
CAPTCHA_TTL_SECONDS=300
IMPORT_RATE_LIMIT_PER_MIN=10
DATABASE_URL=sqlite:///data/output/banco_nfce.db
# CHROME_BIN=/usr/bin/chromium
# CHROMEDRIVER_PATH=/usr/bin/chromedriver
